.git
.github
assets
deploy
docs
scratch
node_modules
.pnpm-store
pnpm-debug.log
tools/*
!tools/release/
tools/release/*
!tools/release/package.json

frontend/.angular
frontend/dist
frontend/node_modules
frontend/test-results
frontend/tmp

backend/.gradle
backend/build
