@use "variables";

.layout-wrapper {
  display: grid;
  grid-template: "sidebar main" minmax(0, 1fr) / var(--sidebar-width, 225px) minmax(0, 1fr);
  height: 100dvh;
  min-height: 100dvh;
  overflow: hidden;
  scroll-behavior: smooth;
  background-color: var(--color-page);
  transition: grid-template-columns variables.$transition-duration;
}
