<div
  class="sidebar-item-container"
  [class.active-route-container]="isRouteActive()"
  [class.menu-open]="menuOpen()"
>
  @let currentItem = item();

  @if (currentItem.action) {
    <button
      type="button"
      class="sidebar-item-link"
      [pTooltip]="currentItem.label"
      [tooltipDisabled]="!layoutService.desktopSidebarCollapsed()"
      tooltipPosition="right"
      (click)="runAction($event)"
    >
      <span class="sidebar-item-chrome">
        <span class="sidebar-item-leading">
          <app-icon-display
            [icon]="getIconSelection()"
            iconClass="layout-sidebar-item-icon"
            size="18px"
            [displayEmpty]="true"
          ></app-icon-display>
        </span>
        <span class="layout-sidebar-item-text sidebar-item-text">
          <span class="sidebar-item-label">{{ currentItem.label }}</span>
          @if (currentItem.bookCount) {
            <span class="book-count book-count-inline">{{ formatCount(currentItem.bookCount) }}</span>
          }
        </span>
      </span>
    </button>
  } @else if (currentItem.routerLink) {
    <a
      class="sidebar-item-link"
      [class.active-route]="isRouteActive()"
      [attr.aria-current]="isRouteActive() ? 'page' : null"
      [routerLink]="currentItem.routerLink"
      [pTooltip]="currentItem.label"
      [tooltipDisabled]="!layoutService.desktopSidebarCollapsed()"
      tooltipPosition="right"
      tabindex="0"
    >
      <span class="sidebar-item-chrome">
        <span class="sidebar-item-leading">
          @if (currentItem.unhealthy) {
            <span
              class="library-health-dot"
              role="img"
              [attr.aria-label]="'common.libraryPathInaccessible' | transloco"
              [pTooltip]="'common.libraryPathInaccessible' | transloco"
              tooltipPosition="right"
            ></span>
          }
          <app-icon-display
            [icon]="getIconSelection()"
            iconClass="layout-sidebar-item-icon"
            size="18px"
            [displayEmpty]="true"
          ></app-icon-display>
        </span>
        <span class="layout-sidebar-item-text sidebar-item-text">
          <span class="sidebar-item-label">{{ currentItem.label }}</span>
          @if (currentItem.bookCount) {
            <span class="book-count book-count-inline">{{ formatCount(currentItem.bookCount) }}</span>
          }
        </span>
      </span>
    </a>
  }

  <span class="sidebar-item-end-content">
    @if (shouldShowContextMenuButton()) {
      <button
        type="button"
        class="entity-menu-button"
        [attr.aria-label]="'common.moreActionsFor' | transloco: { label: currentItem.label }"
        aria-haspopup="menu"
        (click)="openContextMenu($event, entitymenu)"
      >
        <span class="entity-menu-button-content">
          <svg lucideEllipsisVertical class="entity-menu-icon" aria-hidden="true"></svg>
          <span class="entity-menu-count">{{ formatCount(currentItem.bookCount) }}</span>
        </span>
      </button>
      <p-menu
        #entitymenu
        [model]="currentItem.contextMenuItems"
        [popup]="true"
        appendTo="body"
        styleClass="sidebar-entity-menu"
        (onShow)="markContextMenuOpen()"
        (onHide)="closeContextMenu()"
      ></p-menu>
    } @else if (currentItem.bookCount) {
      <p class="book-count book-count-end">{{ formatCount(currentItem.bookCount) }}</p>
    }
  </span>
</div>
